@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap"); /* font imported from google fonts*/
@media all and (max-width: 1024px) {
  /*MEDIA QUERIES FOR FILTERS*/
  .filtres {
    flex-flow: column;
  }
  .economique {
    margin-bottom: 5%;
  }
  .familial {
    margin-bottom: 5%;
  }
  .romantique {
    margin-bottom: 5%;
  }
  #activites_marseille {
    flex-flow: column;
  }
}
/* HEADER */
.menu {
  display: flex; /* flexbox */
  background-color: #ffffff; /* adding background color */
  justify-content: flex-end;
  float: right;
}
.menu li {
  list-style-type: none; /* removing points*/
  font-family: "Raleway", sans-serif; /* font from google + sans-serif */
}
.menu a {
  display: flex;
  margin: 1.5rem; /*space between elements*/
  text-decoration: none; /* removing links underline */
  color: #0065fc; /* color of text */
  font-weight: bold;
}
header img {
  /*logo*/
  margin-left: 2%;
  margin-top: 1%;
}
/*decoration of links*/
a:link {
  text-decoration: none;
}
.trouvez_votre_hebergement h1, /*the main h1 text on page*/
h5 {
  margin-left: 2%;
  font-family: "Raleway", sans-serif;
}
.barre_recherche {
  margin-left: 2%;
}
.image_pin {
  /*map pin */
  display: flex;
  color: #000000;
  background: #dddddd;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 20px 20px;
  border-bottom-left-radius: 20px 20px;
}
i {
  font-size: 30px; /* we can change the icon size with css*/
}
.champ_recherche {
  height: 42px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  width: 20%;
  margin-right: -1%; /*I don't know if this is a good method, but found only this solution*/
}
.bouton_recherche {
  /*research button*/
  display: inline-block;
  height: 48px;
  font-size: 20px;
  line-height: 44px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background-color: hsl(244, 100%, 49%);
  color: #ffffff;
  border-radius: 0px 10px 10px 0px;
  width: 120px;
  padding-left: 10px;
}
.bouton_recherche:hover {
  transform: scale(1.1);
}
.filtres {
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: inline-flex;
}
.filtres_container {
  margin-top: 2%;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}
/* ALL ICONS SETTINGS*/
.economique {
  margin-right: 60px;
  border-radius: 25px;
  border: 2px solid #a8a8a8;
  padding: 15px;
  width: 200px;
  height: 15px;
  background-color: #ffffff;
}
.economique:hover {
  transform: scale(1.1);
  background-color: #deebff;
}
.round_icon_economique {
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 5px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #deebff;
  position: relative;
  right: 15px;
}
.familial {
  margin-right: 60px;
  border-radius: 25px;
  border: 2px solid #a8a8a8;
  padding: 15px;
  width: 200px;
  height: 15px;
  background-color: #ffffff;
}
.familial:hover {
  transform: scale(1.1);
  background-color: #deebff;
}
.round_icon_familial {
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #deebff;
  position: relative;
  right: 15px;
}
.romantique {
  margin-right: 60px;
  border-radius: 25px;
  border: 2px solid #a8a8a8;
  padding: 15px;
  width: 200px;
  height: 15px;
  background-color: #ffffff;
}
.romantique:hover {
  transform: scale(1.1);
  background-color: #deebff;
}
.round_icon_romantique {
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #deebff;
  position: relative;
  right: 15px;
}
.animaux_autorises {
  margin-right: 60px;
  border-radius: 25px;
  border: 2px solid #a8a8a8;
  padding: 15px;
  width: 200px;
  height: 15px;
  background-color: #ffffff;
}
.animaux_autorises:hover {
  transform: scale(1.1);
  background-color: #deebff;
}
.round_icon_animaux_autorises {
  padding-top: 15px;
  padding-bottom: 11px;
  padding-left: 15px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #deebff;
  position: relative;
  right: 15px;
}
/*changing icon colors to blue*/
.fa-money-bill-wave {
  color: #0065fc;
  margin-right: 14px;
}
.fa-child {
  color: #0065fc;
  margin-right: 14px;
}
.fa-heart {
  color: #0065fc;
  margin-right: 14px;
}
.fa-dog {
  color: #0065fc;
  margin-right: 14px;
}
.image_info {
  color: #0065fc;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.plus_de_500_logements {
  margin-left: 2%;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.container_for_square_and_rectangle_boxes {
  justify-content: space-between;
}
.square_container {
  /* container with Hebergements a Marseille*/
  display: grid;
  margin-left: 1%;
  width: 50%;
  height: 20%;
  background-color: #ebebebe7;
  border-radius: 20px 20px 20px 20px;
  float: left;
  margin-bottom: 5%;
}
.hebergements_marseille {
  /*text "Hebergements a Marseille" in container*/
  display: flex;
  margin-left: 3%;
  margin-top: 3%;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #000000;
}
.rectangle_container {
  /*container on the right side with "Les plus populaires" */
  display: flex;
  height: 690px;
  width: 40%;
  background-color: #ebebebe7;
  border-radius: 20px 20px 20px 20px;
  float: right;
  margin-right: 1%;
  justify-content: start;
  margin-bottom: 5%;
}
.les_plus_populaires {
  /*text "Les plus populaires" in container*/
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #000000;
  margin-left: 7%;
}
/*AUBERGE CANNEBIERE*/
.auberge_cannebiere {
  width: 13%;
  height: 28%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 95%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 6%;
  margin-left: 1%;
  box-shadow: 0px 0px 10px 10px #818181;
}
/*ZOOM HOVER EFFECT*/
.auberge_cannebiere:hover {
  transform: scale(1.1);
}
.auberge_cannebiere p {
  margin-top: 65%;
  margin-left: 10%;
}
.image_auberge_cannebiere {
  height: 50%;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
/*changing specs of stars*/
.note_etoile_auberge_cannebiere {
  color: #0065fc;
  display: inline-flex;
  margin-top: 85%;
  margin-left: -100%;
  list-style-type: none;
}
.five_star_auberge_cannebiere {
  /*had to change this one with its own code, because of the grey color*/
  color: #a8a8a8;
}
/*HOTEL DU PORT*/
.hotel_du_port {
  width: 13%;
  height: 28%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 95%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 6%;
  margin-left: 18%;
  box-shadow: 0px 0px 10px 10px #818181;
}
/*ZOOM HOVER EFFECT*/
.hotel_du_port:hover {
  transform: scale(1.1);
}
.hotel_du_port p {
  margin-top: 65%;
  margin-left: 10%;
}
.image_hotelduport {
  height: 50%;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.note_etoile_hotel_du_port {
  color: #0065fc;
  display: inline-flex;
  margin-top: 85%;
  margin-left: -87%;
  list-style-type: none;
}
/*HOTEL LES MOUETTES*/
.hotel_les_mouettes {
  width: 13%;
  height: 28%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 95%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 6%;
  margin-left: 35%;
  box-shadow: 0px 0px 10px 10px #818181;
}
/*ZOOM HOVER EFFECT*/
.hotel_les_mouettes:hover {
  transform: scale(1.1);
}
.hotel_les_mouettes p {
  margin-top: 65%;
  margin-left: 10%;
}
.image_hotel_les_mouettes {
  height: 50%;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.note_etoile_hotel_les_mouettes {
  color: #0065fc;
  display: inline-flex;
  margin-top: 85%;
  margin-left: -87%;
  list-style-type: none;
}
.five_star_hotel_les_mouettes {
  color: #a8a8a8;
}
/*HOTEL DE LA MER*/
.hotel_de_la_mer {
  width: 13%;
  height: 28%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 95%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 22%;
  margin-left: 1%;
  box-shadow: 0px 0px 10px 10px #818181;
}
/*ZOOM HOVER EFFECT*/
.hotel_de_la_mer:hover {
  transform: scale(1.1);
}
.hotel_de_la_mer p {
  margin-top: 65%;
  margin-left: 10%;
}
.image_hotel_de_la_mer {
  height: 50%;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.note_etoile_hotel_de_la_mer {
  color: #0065fc;
  display: inline-flex;
  margin-top: 85%;
  margin-left: -90%;
  list-style-type: none;
}
.five_star_hotel_de_la_mer {
  color: #a8a8a8;
}
.four_star_hotel_de_la_mer {
  color: #a8a8a8;
}
/*AUBERGE LE PANIER*/
.auberge_le_panier {
  width: 13%;
  height: 28%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 95%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 22%;
  margin-left: 18%;
  box-shadow: 0px 0px 10px 10px #818181;
}
/*ZOOM HOVER EFFECT*/
.auberge_le_panier:hover {
  transform: scale(1.1);
}
.auberge_le_panier p {
  margin-top: 65%;
  margin-left: 10%;
}
.image_auberge_le_panier {
  height: 50%;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.note_etoile_auberge_le_panier {
  color: #0065fc;
  display: inline-flex;
  margin-top: 85%;
  margin-left: -87%;
  list-style-type: none;
}
.five_star_auberge_le_panier {
  color: #a8a8a8;
}
/*HOTEL CHEZ AMINA*/
.hotel_chez_amina {
  width: 13%;
  height: 28%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 95%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 22%;
  margin-left: 35%;
  box-shadow: 0px 0px 10px 10px #818181;
}
.hotel_chez_amina:hover {
  transform: scale(1.1);
}
.hotel_chez_amina p {
  margin-top: 65%;
  margin-left: 10%;
}
.image_hotel_chez_amina {
  height: 50%;
  width: 90%;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.note_etoile_hotel_chez_amina {
  color: #0065fc;
  display: inline-flex;
  margin-top: 85%;
  margin-left: -87%;
  list-style-type: none;
}
.text_afficher_plus {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: medium;
  margin-top: 80%;
  color: #000000;
  position: relative;
  right: 38%;
}
.text_afficher_plus:hover {
  transform: scale(1.1);
}
/*LES PLUS POPULAIRES*/
/*HOTEL LE SOLEIL DU MATIN*/
.hotel_le_soleil_du_matin {
  width: 35%;
  height: 22%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 6%;
  margin-left: -15%;
  box-shadow: 0px 0px 10px 10px #818181;
}
.hotel_le_soleil_du_matin:hover {
  transform: scale(1.1);
}
.image_hotel_le_soleil_du_matin {
  height: 90%;
  width: 40%;
  position: absolute;
  margin-left: 2%;
  margin-top: 8px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
.hotel_le_soleil_du_matin p {
  margin-left: auto;
  margin-top: 5%;
}
.note_etoile_hotel_le_soleil_du_matin {
  color: #0065fc;
  display: flex;
  list-style-type: none;
  margin-top: 25%;
  position: relative;
  right: 40%;
}
/*AU COEUR DE L'EAU CHAMBRES D'HOTES*/
.au_coeur_chambres_hotes {
  width: 35%;
  height: 22%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 18%;
  margin-left: -15%;
  box-shadow: 0px 0px 10px 10px #818181;
}
.au_coeur_chambres_hotes:hover {
  transform: scale(1.1);
}
.image_au_coeur_chambres_hotes {
  height: 90%;
  width: 40%;
  position: absolute;
  margin-left: 2%;
  margin-top: 8px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
.au_coeur_chambres_hotes p {
  margin-left: 47%;
  margin-top: 5%;
}
.note_etoile_au_coeur_chambres_hotes {
  color: #0065fc;
  display: flex;
  list-style-type: none;
  margin-top: 25%;
  position: relative;
  right: 35%;
}
/*HOTEL TOUT BLEU ET BLANC*/
.hotel_tout_bleu_et_blanc {
  width: 35%;
  height: 22%;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  margin-top: 30%;
  margin-left: -15%;
  box-shadow: 0px 0px 10px 10px #818181;
}
.hotel_tout_bleu_et_blanc:hover {
  transform: scale(1.1);
}
.image_hotel_tout_bleu_et_blanc {
  height: 90%;
  width: 40%;
  position: absolute;
  margin-left: 2%;
  margin-top: 8px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
}
.hotel_tout_bleu_et_blanc p {
  margin-left: 47%;
  margin-top: 5%;
}
.note_etoile_hotel_tout_bleu_et_blanc {
  color: #0065fc;
  display: flex;
  list-style-type: none;
  margin-top: 25%;
  position: relative;
  right: 40%;
}
.text_activities {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: block;
  padding: 2%;
  position: relative;
  right: 40%;
}
#activites_marseille {
  display: flex;
  width: 90%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  justify-content: space-between;
}
.vieux_port {
  width: 22%;
  height: 100%;
  border-radius: 10%;
  margin-left: 2%;
  background: white;
  box-shadow: 0px 3px 3px 0px rgb(209 208 208);
}
.vieux_port:hover {
  transform: scale(1.1);
}
.vieux_port img {
  display: flex;
  width: 100%;
  height: 85%;
  margin-top: 1%;
  margin-left: 1%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  object-fit: cover;
}
.vieux_port h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-left: 8%;
  display: block;
}
.fort_de_pomegues {
  width: 100%;
  height: 45%;
  border-radius: 10%;

  background: white;
  box-shadow: 0px 3px 3px 0px rgb(209 208 208);
}
.fort_de_pomegues:hover {
  transform: scale(1.1);
}
.fort_de_pomegues img {
  display: flex;
  width: 100%;
  height: 85%;
  margin-top: 1%;
  margin-left: 1%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  object-fit: cover;
}
.fort_de_pomegues h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-left: 8%;
  margin-top: 2%;
  display: block;
}
.iles_de_frioul {
  width: 100%;
  height: 45%;
  margin-top: 14%;
  border-radius: 10%;
  background: white;
  box-shadow: 0px 3px 3px 0px rgb(209 208 208);
}
.iles_de_frioul:hover {
  transform: scale(1.1);
}
.iles_de_frioul img {
  display: flex;
  width: 100%;
  height: 85%;
  margin-top: 1%;
  margin-left: 1%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  object-fit: cover;
}
.iles_de_frioul h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-left: 8%;
  margin-top: 2%;
  display: block;
}
.activites_deux_et_trois {
  margin-left: 50px;
}
.parc_national_des_calanques {
  width: 22%;
  height: 100%;
  border-radius: 10%;
  margin-left: 2%;
  background: white;
  box-shadow: 0px 3px 3px 0px rgb(209 208 208);
}
.parc_national_des_calanques:hover {
  transform: scale(1.1);
}
.parc_national_des_calanques img {
  display: flex;
  width: 100%;
  height: 85%;
  margin-top: 1%;
  margin-left: 1%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  object-fit: cover;
}
.parc_national_des_calanques h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-left: 8%;
  display: block;
}
.notre_dame_de_la_garde {
  width: 100%;
  height: 45%;
  margin-top: 1%;
  border-radius: 10%;
  background: white;
  box-shadow: 0px 3px 3px 0px rgb(209 208 208);
}
.notre_dame_de_la_garde:hover {
  transform: scale(1.1);
}
.notre_dame_de_la_garde img {
  display: flex;
  width: 100%;
  height: 85%;
  margin-top: 1%;
  margin-left: 1%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  object-fit: cover;
}
.notre_dame_de_la_garde h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-left: 8%;
  margin-top: 2%;
  display: block;
}
.parc_longchamp {
  width: 100%;
  height: 45%;
  margin-top: 14%;
  border-radius: 10%;
  background: white;
  box-shadow: 0px 3px 3px 0px rgb(209 208 208);
}
.parc_longchamp:hover {
  transform: scale(1.1);
}
.parc_longchamp img {
  display: flex;
  width: 100%;
  height: 85%;
  margin-top: 1%;
  margin-left: 1%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  object-fit: cover;
}
.parc_longchamp h3 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-left: 8%;
  margin-top: 2%;
  display: block;
}
.activites_cinq_et_six {
  margin-left: 50px;
}
/*footer*/
footer {
  text-align: center;
}
.pied_de_page {
  display: flex;
  width: 100%;
  background-color: #e6e6e6e7;
  margin-top: 5%;
  margin-bottom: 1%;
  justify-content: space-evenly;
}
.liste_a_propos {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  margin-top: 5px;
}
.liste_nos_hebergements {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  margin-top: 5px;
}
.liste_assistance {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  margin-top: 5px;
}
